.elimination-label {
  width: 180px;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0em;
}
.targetScroll {
  margin-top: 20px; 
  color: #607d8b;
  padding: 0px !important;
}