<div class="p-grid">
  <div class="p-col-12 padding-none group-table-container">
    <table mat-table [dataSource]="groupDataSource" class="mat-elevation-z8">
      <!-- table header and content -->
      <ng-container matColumnDef="groupName">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'GROUP_RESULT_TABLE.GROUP_NAME' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>{{ 'GROUP_RESULT_TABLE.GROUP_NAME' | translate }}</h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          (click)="selectGroup(element)"
          class="hover-text clickable"
          matTooltip="{{ element.name }}"
          matTooltipPosition="above"
        >
          <div class="justify-content-between">
            <span class="name-text" [ngClass]="element.name === groupSelect ? 'tags' : ''" >{{ element?.name }}</span>
            <span>
              <ng-container *ngIf="element?.missing_copy && element?.is_justified === 'yes'">AJ</ng-container>
              <ng-container *ngIf="element?.missing_copy && element?.is_justified === 'no'">ANJ</ng-container>
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="groupStatus">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'STUDENT_RESULT_TABLE.status' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>S</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <ng-container [ngSwitch]="element?.is_do_not_participated">
            <ng-container *ngSwitchCase="true">
              <mat-icon
                class="green-icon"
                *ngIf="element?.score !== null"
                matTooltip="{{ 'TESTCORRECTIONS.corrected' | translate }}"
                matTooltipPosition="above"
                >check_circle</mat-icon
              >
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ng-container *ngIf="!element?.missing_copy">
                <ng-container *ngIf="testData?.block_type === 'competence'; else nonCompetence">
                  <mat-icon
                    class="green-icon"
                    *ngIf="isAllCompetenceFinished(element)"
                    matTooltip="{{ 'TESTCORRECTIONS.corrected' | translate }}"
                    matTooltipPosition="above"
                    >check_circle</mat-icon
                  >
                  <mat-icon
                    class="red-icon"
                    *ngIf="!isAllCompetenceFinished(element)"
                    matTooltip="{{ 'TESTCORRECTIONS.not_corrected' | translate }}"
                    matTooltipPosition="above"
                    >cancel</mat-icon
                  >
                </ng-container>

                <ng-template #nonCompetence>
                  <mat-icon
                    class="green-icon"
                    *ngIf="!['', null, undefined, NaN].includes(element?.score) && (element?.doc?.length || !isTestHasDocumentExpected); else notCompleted"
                    matTooltip="{{ 'TESTCORRECTIONS.corrected' | translate }}"
                    matTooltipPosition="above"
                    >check_circle</mat-icon
                  >

                  <ng-template #notCompleted>
                    <mat-icon
                      class="red-icon"
                      matTooltip="{{ 'TESTCORRECTIONS.not_corrected' | translate }}"
                      matTooltipPosition="above"
                      >cancel</mat-icon
                    >
                  </ng-template>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="element?.missing_copy">
                <mat-icon
                  class="green-icon"
                  *ngIf="element?.is_justified === 'yes'"
                  matTooltip="{{ 'TESTCORRECTIONS.Absence-justified' | translate }}"
                  matTooltipPosition="above"
                  svgIcon="text-box-remove"
                ></mat-icon>
                <mat-icon
                  class="green-icon"
                  *ngIf="element?.is_justified === 'no'"
                  matTooltip="{{ 'TESTCORRECTIONS.Absence-not-justified' | translate }}"
                  matTooltipPosition="above"
                  svgIcon="text-box-remove"
                ></mat-icon>
                <mat-icon
                  class="red-icon"
                  *ngIf="!element?.is_justified"
                  matTooltip="{{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}"
                  matTooltipPosition="above"
                  svgIcon="text-box-remove"
                ></mat-icon>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="doc">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'STUDENT_RESULT_TABLE.DOC' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>{{ 'STUDENT_RESULT_TABLE.DOC' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon
            *ngIf="element?.doc?.length && isAllDocRejected(element?.doc) && !element?.is_do_not_participated"
            (click)="downloadDocExpectedGroup(element?.doc, element?._id)"
            class="mat-icon-style clickable"
            >insert_drive_file</mat-icon
          >
          <!-- <div
            *ngIf="
              (testData?.block_type === 'competence' || testData?.block_type === 'soft_skill') &&
              !element?.doc?.length &&
              element?.missing_copy"
            (click)="openJustifyGroup(element)"
          >
            <ng-container *ngIf="(element?.missing_copy && !element?.is_justified)">
              <span [ngClass]="{'red-text clickable': isMissingCopy(element) && isTaskValidateTest}">
                {{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}
              </span>
            </ng-container>
            <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'yes')">
              <span>AJ</span>
            </ng-container>
            <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'no')">
              <span>ANJ</span>
            </ng-container>
          </div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'GROUP_RESULT_TABLE.SCORE' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>{{ 'GROUP_RESULT_TABLE.SCORE_SHORT' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" (click)="openJustifyGroup(element)">
          <ng-container
            [ngSwitch]="
              !element?.is_do_not_participated && !element?.missing_copy
                ? 'normal_score'
                : element?.is_do_not_participated
                ? 'do_not_participate'
                : 'missing_copy'
            "
          >
            <ng-container *ngSwitchCase="'normal_score'">
              <span>{{ element?.score }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'do_not_participate'">
              <span>-</span>
            </ng-container>
            <ng-container *ngSwitchCase="'missing_copy'">
              <span *ngIf="element?.missing_copy && element?.is_justified === 'yes'">-</span>
              <span *ngIf="element?.missing_copy && element?.is_justified === 'no'">0</span>
            </ng-container>
          </ng-container>

          <!-- <span *ngIf="!element?.missing_copy">{{ element?.score }}</span>
          <span *ngIf="element?.missing_copy && element?.is_justified === 'yes'">-</span>
          <span *ngIf="element?.missing_copy && element?.is_justified === 'no'">0</span> -->
          <!-- <ng-container *ngIf="isTaskValidateTest">
            <ng-container *ngIf="checkIDV(element)">
              <span>IDV</span>
            </ng-container>

            <ng-container *ngIf="!checkIDV(element)">
              <ng-container *ngIf="!(element?.missing_copy)">
                <span>{{ element?.score }}</span>
              </ng-container>
              <ng-container *ngIf="(element?.missing_copy && !element?.is_justified)">
                <span [ngClass]="{'red-text clickable': isMissingCopy(element) && isTaskValidateTest}">
                  {{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}
                </span>
              </ng-container>
              <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'yes')">
                <span>{{"AJ"}}</span>
              </ng-container>
              <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'no')">
                <span>{{ element?.score }}</span>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="checkStudentMissingCopy(element)">
              <span style="color: red; font-weight: 900;"> ! </span>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!(isTaskValidateTest)">
            <ng-container *ngIf="!(element?.missing_copy)">
              <span>{{ element?.score }}</span>
            </ng-container>
            <ng-container *ngIf="element?.missing_copy">
              <span>{{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}</span>
            </ng-container>
          </ng-container> -->
        </td>
      </ng-container>

      <!-- loading spinner -->
      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <!-- Footer for corrected copies -->
      <ng-container matColumnDef="correctedCopies">
        <th mat-header-cell *matFooterCellDef [attr.colspan]="groupDisplayedColumns?.length" class="footer-row">
          {{ groupCorrectLength }} {{ 'GROUP_RESULT_TABLE.CORRECT_GROUP' | translate }} / {{ filteredGroupList.length }}
          {{ 'GROUP_RESULT_TABLE.GROUPS' | translate }}
        </th>
      </ng-container>

      <!-- table setting -->
      <tr mat-header-row *matHeaderRowDef="groupDisplayedColumns; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForGroup"></tr>
      <tr mat-row *matRowDef="let row; columns: groupDisplayedColumns" [hidden]="isWaitingForGroup"></tr>
      <tr mat-header-row *matFooterRowDef="['correctedCopies']; sticky: true" class="footer-height"></tr>
    </table>

    <!-- Standard for if there is no Data -->
    <!-- <div *ngIf="noData | async" class="no-records">
        {{ 'NOT RECORD FOUND' | translate }}
      </div> -->
  </div>
</div>

<div class="test-result mrgn-t-md">{{ 'List of Student of Group :' | translate }} {{ groupSelect }}</div>
<mat-divider></mat-divider>
<div class="p-grid">
  <div class="p-col-12 padding-none students-table-container">
    <table mat-table [dataSource]="studentDataSource" class="mat-elevation-z8">
      <!-- table header and content -->
      <ng-container matColumnDef="studentName">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'GROUP_RESULT_TABLE.NAME' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>{{ 'GROUP_RESULT_TABLE.NAME' | translate }}</h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ element?.last_name | uppercase }} {{ element?.first_name }}"
          matTooltipPosition="above"
        >
          <div class="justify-content-between">
            <span
              *ngIf="element.testCorrectionId !== null"
              (click)="selectStudent(element)"
              class="name-text"
              [ngClass]="{ 
                'tags': testCorrectionForm?.get('student')?.value === element?._id,
                'clickable-hover-text': validateSelectStudentScore() && testCorrectionForm?.get('student')?.value !== element?._id                
              }"
            >
              {{ element?.last_name | uppercase }} {{ element?.first_name }}
            </span>
            <span *ngIf="element.testCorrectionId === null" class="name-text">
              {{ element?.last_name | uppercase }} {{ element?.first_name }}
            </span>
            <span>
              <ng-container *ngIf="element?.missing_copy && element?.is_justified === 'yes'">AJ</ng-container>
              <ng-container *ngIf="element?.missing_copy && element?.is_justified === 'no'">ANJ</ng-container>
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="studentStatus">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'STUDENT_RESULT_TABLE.status' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>S</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <ng-container [ngSwitch]="element?.is_do_not_participated">
            <ng-container *ngSwitchCase="true">
              <mat-icon
                class="green-icon"
                *ngIf="element?.score !== null"
                matTooltip="{{ 'TESTCORRECTIONS.corrected' | translate }}"
                matTooltipPosition="above"
                >check_circle</mat-icon
              >
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ng-container *ngIf="!element?.missing_copy">
                <ng-container *ngIf="testData?.block_type === 'competence'; else nonCompetence">
                  <mat-icon
                    class="green-icon"
                    *ngIf="isAllCompetenceFinished(element, 'student')"
                    matTooltip="{{ 'TESTCORRECTIONS.corrected' | translate }}"
                    matTooltipPosition="above"
                    >check_circle</mat-icon
                  >
                  <mat-icon
                    class="red-icon"
                    *ngIf="!isAllCompetenceFinished(element, 'student')"
                    matTooltip="{{ 'TESTCORRECTIONS.not_corrected' | translate }}"
                    matTooltipPosition="above"
                    >cancel</mat-icon
                  >
                </ng-container>

                <ng-template #nonCompetence>
                  <mat-icon
                    class="green-icon"
                    *ngIf="!['', null, undefined, NaN].includes(element?.score) && (element?.doc?.length || !isTestHasDocumentExpected); else notCompleted"
                    matTooltip="{{ 'TESTCORRECTIONS.corrected' | translate }}"
                    matTooltipPosition="above"
                    >check_circle</mat-icon
                  >

                  <ng-template #notCompleted>
                    <mat-icon
                      class="red-icon"
                      matTooltip="{{ 'TESTCORRECTIONS.not_corrected' | translate }}"
                      matTooltipPosition="above"
                      >cancel</mat-icon
                    >
                  </ng-template>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="element?.missing_copy">
                <mat-icon
                  class="green-icon"
                  *ngIf="element?.is_justified === 'yes'"
                  matTooltip="{{ 'TESTCORRECTIONS.Absence-justified' | translate }}"
                  matTooltipPosition="above"
                  svgIcon="text-box-remove"
                ></mat-icon>
                <mat-icon
                  class="green-icon"
                  *ngIf="element?.is_justified === 'no'"
                  matTooltip="{{ 'TESTCORRECTIONS.Absence-not-justified' | translate }}"
                  matTooltipPosition="above"
                  svgIcon="text-box-remove"
                ></mat-icon>
                <mat-icon
                  class="red-icon"
                  *ngIf="!element?.is_justified"
                  matTooltip="{{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}"
                  matTooltipPosition="above"
                  svgIcon="text-box-remove"
                ></mat-icon>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="studentDoc">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'STUDENT_RESULT_TABLE.DOC' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>{{ 'STUDENT_RESULT_TABLE.DOC' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon
            *ngIf="element?.doc?.length && isAllDocRejected(element?.doc) && !element?.is_do_not_participated"
            (click)="downloadDocExpected(element?.doc, element?._id)"
            class="mat-icon-style clickable"
            >insert_drive_file</mat-icon
          >
          <!-- <div
            *ngIf="
              (testData?.block_type === 'competence' || testData?.block_type === 'soft_skill') &&
              !element?.doc?.length &&
              element?.missing_copy"
            (click)="openJustify(element)"
          >
            <ng-container *ngIf="(element?.missing_copy && !element?.is_justified)">
              <span [ngClass]="{'red-text clickable': isMissingCopy(element) && isTaskValidateTest}">
                {{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}
              </span>
            </ng-container>
            <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'yes')">
              <span>AJ</span>
            </ng-container>
            <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'no')">
              <span>ANJ</span>
            </ng-container>
          </div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="studentScore">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'GROUP_RESULT_TABLE.SCORE' | translate }}"
          matTooltipPosition="above"
          class="text-center"
        >
          <h5>{{ 'GROUP_RESULT_TABLE.SCORE_SHORT' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" (click)="openJustify(element)" class="text-center">
          <ng-container
            [ngSwitch]="
              !element?.is_do_not_participated && !element?.missing_copy
                ? 'normal_score'
                : element?.is_do_not_participated
                ? 'do_not_participate'
                : 'missing_copy'
            "
          >
            <ng-container *ngSwitchCase="'normal_score'">
              <span>{{ element?.score }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'do_not_participate'">
              <span>-</span>
            </ng-container>
            <ng-container *ngSwitchCase="'missing_copy'">
              <span *ngIf="element?.missing_copy && element?.is_justified === 'yes'">-</span>
              <span *ngIf="element?.missing_copy && element?.is_justified === 'no'">0</span>
            </ng-container>
          </ng-container>

          <!-- <span *ngIf="!element?.missing_copy">{{ element?.score }}</span>
          <span *ngIf="element?.missing_copy && element?.is_justified === 'yes'">-</span>
          <span *ngIf="element?.missing_copy && element?.is_justified === 'no'">0</span> -->
          <!-- <ng-container *ngIf="!(element?.missing_copy)">
            <span>{{ element?.score }}</span>
          </ng-container>
          <ng-container *ngIf="(element?.missing_copy && !element?.is_justified)">
            <span [ngClass]="{'red-text clickable': isMissingCopy(element) && isTaskValidateTest}">
              {{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}
            </span>
          </ng-container>
          <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'yes')">
            <span>{{"AJ"}}</span>
          </ng-container>
          <ng-container *ngIf="(element?.missing_copy && element?.is_justified === 'no')">
            <span>{{ element?.score }}</span>
          </ng-container> -->
        </td>
      </ng-container>

      <!-- loading spinner -->
      <ng-container matColumnDef="loadingg">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <!-- Footer for corrected copies -->
      <ng-container matColumnDef="correctedCopies">
        <th mat-header-cell *matFooterCellDef [attr.colspan]="studentDisplayedColumns?.length" class="footer-row">
          {{ correctLength }} {{ 'GROUP_RESULT_TABLE.CORRECT_STUDENT' | translate }} / {{ studentLength }}
          {{ 'GROUP_RESULT_TABLE.STUDENTS' | translate }}
        </th>
      </ng-container>

      <!-- table setting -->
      <tr mat-header-row *matHeaderRowDef="studentDisplayedColumns; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="['loadingg']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: studentDisplayedColumns" [hidden]="isWaitingForResponse"></tr>
      <tr mat-header-row *matFooterRowDef="['correctedCopies']; sticky: true" class="footer-height"></tr>
    </table>

    <!-- Standard for if there is no Data -->
    <!-- <div *ngIf="noData | async" class="no-records">
          {{ 'NOT RECORD FOUND' | translate }}
        </div> -->
  </div>
</div>
