<!-- loading spinner Load Field-->
<div
  *ngIf="isWaitingForResponse || isRefreshMultipleDateNotationGrid || isWaitingPdf || !isDataLoaded"
  class="inner-loading-indicator-transparent-bg"
>
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>

<div style="flex-wrap: nowrap;" class="body p-grid p-dir-col p-nogutter" *ngIf="isDataLoaded">
  <div class="p-grid p-col-fixed mrgn-b-sm">
    <!-- Top Buttons -->
    <div class="p-col-12 p-grid p-col-nogutter p-align-baseline background-black">
      <div class="p-col p-grid pad-left-0 p-align-center">
        <button
          *ngIf="isTutorialAdded"
          matTooltip="{{ 'Tutorial for this module' | translate }}"
          (click)="getMarkEntryHelp()"
          style="background-color: transparent; border: 0; padding-left: 0;"
        >
          <img width="70" [src]="tutorialIcon" />
        </button>
        <h1 class="test-data" *ngIf="titleData && testData && schoolData">
          {{ titleData?.short_name | uppercase }} / {{ testData?.name | uppercase }} / {{ getTranslatedDate(testData?.date) | uppercase }} /
          {{ schoolData?.short_name | uppercase }}
        </h1>
      </div>
      <div class="p-col-fixed">
        <!-- button pdf result for student -->
        <ms-pdf-detail
          style="display: none"
          *ngIf="!testData?.group_test && filteredStudentList"
          [testDataOriginal]="testData"
          [taskData]="taskData"
          [schoolData]="schoolData"
          [titleData]="titleData"
          [filteredStudentList]="filteredStudentList"
          [maximumFinalMark]="maximumFinalMark"
          [studentList]="studentList"
          (isWaitingDone)="isWaitingPDFDone($event)"
        >
        </ms-pdf-detail>
        <!-- button pdf result for group test -->
        <ms-pdf-group-detail
          style="display: none"
          *ngIf="testData?.group_test && filteredGroupList"
          [testDataOriginal]="testData"
          [schoolData]="schoolData"
          [titleData]="titleData"
          [filteredGroupList]="filteredGroupList"
          [maximumFinalMark]="maximumFinalMark"
          (isWaitingDone)="isWaitingPDFDone($event)"
        >
        </ms-pdf-group-detail>
        <button
          mat-raised-button
          color="accent"
          [matMenuTriggerFor]="actions"
          matTooltip="{{ 'Action' | translate }}"
          matTooltipPosition="above"
          [disabled]="isWaitingForResponse"
        >
          {{ 'Action' | translate }}
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #actions="matMenu">
          <!--  [ngClass]="{hide: testData?.correction_type === 'student'}" original condition div above 07/05/2021 11:31 -->
          <button
            *ngIf="showButtonImport && isTaskMarkEntry"
            data-cy="btn-template-mark-entry"
            mat-menu-item
            color="accent"
            class="border-button"
            (click)="openImportTemplate('template')"
          >
            {{ 'ACAD_018_KEY.Download mark template' | translate }}
          </button>
          <button
            *ngIf="showButtonImport && isTaskMarkEntry"
            data-cy="btn-import-mark-entry"
            mat-menu-item
            color="accent"
            class="border-button"
            (click)="openImportTemplate('import')"
          >
            {{ 'ACAD_018_KEY.Import mark' | translate }}
          </button>
          <button
            mat-menu-item
            (click)="openInformation()"
            color="primary"
            [ngClass]="{ 'border-button': testData?.correction_type !== 'student' }"
          >
            {{ 'ACAD_018_KEY.INFORMATION' | translate }}
          </button>
          <button class="mrgn-top" mat-menu-item style="display: none" (click)="openTestDetail()" color="primary" class="border-button">
            {{ 'TESTCORRECTIONS.TESTDETAILS' | translate }}
          </button>
          <button
            mat-menu-item
            *ngIf="testData?.class_id?.type_evaluation !== 'expertise'"
            [ngClass]="{ hide: testData?.correction_type === 'student' }"
            (click)="downloadPDFSummary()"
            color="primary"
            class="border-button"
          >
            {{ 'TESTCORRECTIONS.Summary' | translate }}
          </button>
          <button
            [ngClass]="{ hide: testData?.correction_type === 'student' }"
            mat-menu-item
            *ngIf="testData && (filteredStudentList || filteredGroupList)"
            (click)="getPdfPersonalizedInOneDoc()"
            color="primary"
            class="border-button"
          >
            {{ 'TESTCORRECTIONS.PDF Personalized in 1 Doc' | translate }}
          </button>
          <button
            [ngClass]="{ hide: testData?.correction_type === 'student' }"
            mat-menu-item
            *ngIf="testData && (filteredStudentList || filteredGroupList)"
            (click)="getPdfPersonalizedInZip()"
            color="primary"
            class="border-button"
          >
            {{ 'ACAD_018_KEY.PDF Personalized 1 Doc / Student or Group' | translate }}
          </button>
          <button
            [ngClass]="{ hide: testData?.correction_type === 'student' }"
            mat-menu-item
            *ngIf="testData && (filteredStudentList || filteredGroupList)"
            (click)="getTestDetailPdf(true)"
            color="primary"
            class="border-button"
          >
            {{ 'GET_THE_TEST' | translate }}
          </button>
          <button
            [ngClass]="{ hide: testData?.correction_type === 'student' }"
            mat-menu-item
            *ngIf="testData && (filteredStudentList || filteredGroupList)"
            (click)="getTestDetailPdf(false)"
            color="primary"
          >
            {{ 'GET_THE_TEST_ONLY' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div style="overflow-y: clip;" class="p-grid p-col mrgn-b-sm">
    <!-- Notation Grid (Include Header + Footer + Element of Proof) -->
    <fieldset style="max-height: 100%; flex-wrap: nowrap; border: 0;" class="p-col p-grid p-dir-col p-nogutter p-col-nogutter mrgn-r-sm" [disabled]="isValidateGroupTestGroup() || disabledCke">
      <!-- Header Section -->
      <ms-header-section
        *ngIf="testData?.correction_grid?.header?.fields?.length"
        [testData]="testData"
        [testCorrectionForm]="testCorrectionForm"
        [selectedGroupData]="selectedGroupData"
        [studentSelectDetail]="studentSelectDetail"
        (updateFirstForm)="updateFirstForm($event)"
      >
      </ms-header-section>

      <div class="p-col-12 p-grid p-col-nogutter p-align-baseline background-medium-grey">
        <div class="p-col-fixed justify-content-end" [ngClass]="{ hide: testData?.correction_type === 'student' && isUserLoginStudent }">
          <!-- select student for individual student test -->
          <div *ngIf="!testData?.group_test" class="p-grid">
            <ng-container *ngIf="!showComptentyTab">
              <div class="p-col-fixed padding-none corrected-student-label vertical-center">
                <span class="remaining-text">{{ 'TESTCORRECTIONS.notcorrectedliststudnet' | translate }}</span>
              </div>
              <div class="p-col-3 pad-y-none">
                <mat-form-field color="accent" class="full-width">
                  <input
                    matInput
                    [(ngModel)]="studentSelect"
                    [matAutocomplete]="student"
                    class="small-field-font"
                    (keyup)="studentFilter()"
                  />
                  <mat-autocomplete #student="matAutocomplete" [displayWith]="displayStudentName.bind(this)" [panelWidth]="'fit'">
                    <mat-option
                      *ngFor="let student of studentData"
                      [value]="student?._id"
                      (click)="selectStudentFromDropdown(student)"
                      matTooltip="{{ student?.last_name | uppercase }} {{ student?.first_name }}"
                    >
                      <span [ngClass]="student.testCorrectionId !== null ? 'iscorrection' : 'notcorrection'">
                        {{ student?.last_name | uppercase }} {{ student?.first_name }}
                      </span>
                      <span *ngIf="student.testCorrectionId !== null" class="icon-true">&#10004;</span>
                      <span *ngIf="student.testCorrectionId === null" class="icon-false">&#10799;</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </ng-container>
            <div class="p-col pad-y-none" style="margin-top: 10px">
              <span *ngIf="testCorrectionForm?.get('student')?.value" class="tags">
                {{ displayStudentName(testCorrectionForm?.get('student')?.value) }}
              </span>
            </div>
          </div>

          <!-- select group for group test -->
          <div *ngIf="isGroup && testData?.group_test" class="p-grid">
            <ng-container *ngIf="!showComptentyTab">
              <div class="p-col-fixed padding-none corrected-student-label vertical-center">
                <span class="remaining-text">{{ 'TESTCORRECTIONS.notcorrectedlistgroup' | translate }}</span>
              </div>
              <div class="p-col-3 pad-y-none">
                <mat-form-field color="accent" class="full-width">
                  <input matInput [(ngModel)]="groupModel" [matAutocomplete]="group" class="small-field-font" (keyup)="groupFilter()" />
                  <mat-autocomplete #group="matAutocomplete" [displayWith]="displayGroupName.bind(this)" [panelWidth]="'fit'">
                    <mat-option
                      *ngFor="let group of groupData"
                      [value]="group?._id"
                      (click)="selectGroupFromDropdown(group)"
                      matTooltip="{{ group?.name }}"
                    >
                      {{ group?.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </ng-container>

            <div class="p-col pad-y-none" style="margin-top: 10px">
              <span *ngIf="groupSelect" class="tags">
                {{ groupSelect }}
              </span>
            </div>
          </div>

          <!-- select student of a group for group test -->
          <div *ngIf="isStudent && testData?.group_test" class="p-grid">
            <ng-container *ngIf="!showComptentyTab">
              <div class="p-col-fixed padding-none corrected-student-label vertical-center">
                <span class="remaining-text">{{ 'TESTCORRECTIONS.notcorrectedliststudnet' | translate }}</span>
              </div>
              <div class="p-col-3 pad-y-none">
                <mat-form-field color="accent" class="full-width">
                  <input
                    matInput
                    [(ngModel)]="studentSelect"
                    [matAutocomplete]="student"
                    class="small-field-font"
                    (keyup)="studentFilter()"
                  />
                  <mat-autocomplete #student="matAutocomplete" [displayWith]="displayStudentName.bind(this)" [panelWidth]="'fit'">
                    <mat-option
                      *ngFor="let student of studentData"
                      [value]="student?._id"
                      (click)="selectStudentOfGroupFromDropdown(student)"
                      matTooltip="{{ student?.last_name | uppercase }} {{ student?.first_name }}"
                    >
                      {{ student?.last_name | uppercase }} {{ student?.first_name }}<span class="icon-true">&#10004;</span
                      ><span class="icon-false">&#10799;</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </ng-container>
            <div class="p-col pad-y-none" style="margin-top: 10px">
              <span *ngIf="testCorrectionForm?.get('student')?.value" class="tags">
                {{ displayStudentName(testCorrectionForm?.get('student')?.value) }}
              </span>
            </div>
          </div>
        </div>

        <div class="p-col">
          <div
            [ngClass]="{
              hide:
                testCorrectionForm.get('missing_copy').value ||
                (testCorrectionForm.get('is_do_not_participated').value && !isGroup && isStudent) ||
                !showComptentyTab
            }"
          >
            <mat-tab-group
              [disablePagination]="true"
              [(selectedIndex)]="selectedCompetenceIndex"
              (selectedTabChange)="getCurrentTab()"
              #competenceMatGroup
            >
              <ng-container *ngFor="let sectionRef of getSectionEvalskillForm()?.controls">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div [ngClass]="{ 'hide-tab': !sectionRef?.get('is_selected')?.value }">
                      <h5 class="text-tabs">{{ sectionRef?.get('ref_id')?.value }}</h5>
                      <mat-icon
                        class="icon-tabs text-right"
                        [matTooltip]="
                          (sectionRef?.get('competence_status')?.value === 'completed'
                            ? 'COMPETENCE_STATUS.completed'
                            : sectionRef?.get('competence_status')?.value === 'draft'
                            ? 'COMPETENCE_STATUS.draft'
                            : sectionRef?.get('competence_status')?.value === 'not_started' ||
                              !sectionRef?.get('competence_status')?.value
                            ? 'COMPETENCE_STATUS.not_started'
                            : ''
                          ) | translate
                        "
                        [ngClass]="{
                          green: sectionRef?.get('competence_status')?.value === 'completed',
                          red: sectionRef?.get('competence_status')?.value === 'draft',
                          default:
                            sectionRef?.get('competence_status')?.value === 'not_started' || !sectionRef?.get('competence_status')?.value
                        }"
                      >
                        lens
                      </mat-icon>
                    </div>
                  </ng-template>
                </mat-tab>
              </ng-container>
            </mat-tab-group>
          </div>
        </div>

        <div class="p-col-fixed text-right justify-content-end smaller-text" [formGroup]="testCorrectionForm">
          <!-- 'Do Not Participate' Checkbox -->
          <mat-checkbox
            [ngClass]="{
              hide:
                testData?.correction_type === 'student' ||
                testData?.type === 'memoire_oral_non_jury' ||
                testData?.type === 'memoire_oral' ||
                testData?.block_of_competence_condition_id?.count_for_title_final_score ||
                testCorrectionForm.get('missing_copy').value ||
                (testData?.group_test && !isStudent && isGroup)
            }"
            color="accent"
            formControlName="is_do_not_participated"
            class="pad-top-10 pad-r-10"
            (change)="mutateDoNotParticipateValidation($event)"
          >
            {{ 'TESTCORRECTIONS.Do Not Participate' | translate }}
          </mat-checkbox>

          <!-- hide missing copy checkbox if correction type student -->
          <mat-checkbox
            [ngClass]="{
              hide:
                testData?.correction_type === 'student' ||
                testData?.type === 'memoire_oral_non_jury' ||
                testData?.type === 'memoire_oral' ||
                testCorrectionForm.get('is_do_not_participated').value
            }"
            color="accent"
            (change)="mutateMissingCopyValidation($event)"
            formControlName="missing_copy"
            class="pad-top-10"
          >
            {{ 'TESTCORRECTIONS.MISSINGCOPY' | translate }}
          </mat-checkbox>
        </div>
      </div>
      <!-- Competences Mark Entry Section -->
      <div style="overflow-y: scroll;" class="p-col p-grid p-align-start p-nogutter p-col-nogutter background-primary" #notationGridContainer>

        <div
          class="p-col"
          [ngClass]="{
            hide:
              testCorrectionForm.get('missing_copy').value ||
              (testCorrectionForm.get('is_do_not_participated').value && !isGroup && isStudent)
          }"
        >
          <!-- **************** if basic notation grid form -->
          <ms-notation-grid-form
            *ngIf="
              testData?.block_type !== 'competence' &&
              testData?.block_type !== 'soft_skill' &&
              (testData?.type !== 'free_continuous_control' && !testData?.controlled_test) &&
              testData?.type !== 'memoire_oral_non_jury' &&
              testData?.type !== 'memoire_oral' &&
              testData?.type !== 'academic_recommendation'
            "
            [testCorrectionForm]="testCorrectionForm"
            [testData]="testData"
          >
          </ms-notation-grid-form>
          <!-- **************** if test is free continous control -->
          <ms-free-control-form
            *ngIf="testData?.type === 'free_continuous_control' || testData?.controlled_test"
            [testCorrectionForm]="testCorrectionForm"
            [testData]="testData"
          >
          </ms-free-control-form>
          <!-- **************** if test is jury organization -->
          <ms-jury-organization-form
            *ngIf="(testData?.type === 'memoire_oral_non_jury' || testData?.type === 'memoire_oral') && !isRefreshJuryNotationGrid"
            [testCorrectionForm]="testCorrectionForm"
            [testData]="testData"
            [loadReady]="loadReady"
          >
          </ms-jury-organization-form>
          <!-- **************** if test is academic recommendation -->
          <ms-academic-recommendation-form
            *ngIf="testData?.type === 'academic_recommendation'"
            [testData]="testData"
            [testCorrectionForm]="testCorrectionForm"
          >
          </ms-academic-recommendation-form>
          <!-- **************** if evaluation by competence -->
          <div
            [ngClass]="{
              hide:
                !(testData?.block_type === 'competence' || testData?.block_type === 'soft_skill') ||
                (testData?.type === 'free_continuous_control' || testData?.controlled_test) ||
                testData?.type === 'memoire_oral_non_jury' ||
                testData?.type === 'memoire_oral'
            }"
          >
            <ms-eval-by-competence-form
              *ngIf="testData?.date_type !== 'multiple_date'"
              [testCorrectionForm]="testCorrectionForm"
              [testData]="testData"
              [studentJobDescriptions]="studentJobDescriptions"
              [selectedTabIndex]="selectedCompetenceIndex"
              [competencyTab]="showComptentyTab"
            >
            </ms-eval-by-competence-form>
            <!-- **************** if evaluation by competence and date type different date -->
            <ms-multiple-date-form
              *ngIf="
                testData?.date_type === 'multiple_date' && multipleDatesFormArray?.controls?.length && !isRefreshMultipleDateNotationGrid
              "
              [testCorrectionForm]="testCorrectionForm"
              [testData]="testData"
              [multipleDatesFormArray]="multipleDatesFormArray"
              [taskData]="taskData"
              [containerWidth]="getContainerWidth()"
              [studentJobDescriptions]="studentJobDescriptions"
            >
            </ms-multiple-date-form>
          </div>
        </div>

      </div>
      
      <ng-container *ngIf="testCorrectionForm.get('is_do_not_participated').value && isStudent" style="margin: 10px">
        <p>
          {{
            'TESTCORRECTIONS.is_do_not_participated_text'
              | translate : { civility: studentSelectDetail.civility, fullName: studentSelect }
          }}
        </p>
      </ng-container>

      <ng-container *ngIf="testCorrectionForm.get('missing_copy').value && isTaskValidateTest">
        <div class="p-col-12">{{ 'TESTCORRECTIONS.marked_as_missing_copy' | translate }}</div>
        <div class="p-col-12">
          <mat-slide-toggle [checked]="testCorrectionForm.get('is_justified').value === 'yes'" (change)="setIsJustified($event)">
            <span *ngIf="testCorrectionForm.get('is_justified').value === 'yes'" style="color: #ffe77a">
              {{ 'TESTCORRECTIONS.Absence-justified' | translate }}
            </span>
            <span
              *ngIf="!testCorrectionForm.get('is_justified').value || testCorrectionForm.get('is_justified').value === 'no'"
              style="color: white"
            >
              {{ 'TESTCORRECTIONS.Absence-not-justified' | translate }}
            </span>
          </mat-slide-toggle>
        </div>
        <div class="p-col-12" *ngIf="testCorrectionForm.get('is_justified').value === 'yes'">
          <div class="p-grid mrgn-b-md">
            <div class="p-col-12 padding-none justify-content-between">
              <span>{{ 'TESTCORRECTIONS.reason_of_absence' | translate }}</span>
              <input #fileUpload type="file" class="hidden" (change)="addFile($event, 'missingCopy')" />
              <button *ngIf="!missingCopyDocument" mat-raised-button color="accent" (click)="openUploadWindow()">
                <mat-icon class="mat-icon-default">attachment</mat-icon> {{ 'MailBox.ATTACH_FILE' | translate }}
              </button>
              <div *ngIf="missingCopyDocument">
                <a [href]="serverimgPath + missingCopyDocument?.s3_file_name" target="_blank" class="missing-copy-doc">
                  {{ missingCopyDocument.s3_file_name ? (missingCopyDocument.s3_file_name | truncate : [26]) : '' }}
                </a>
                <button mat-icon-button color="warn" (click)="deleteMissingCopyDoc()" matTooltip="{{ 'Delete' | translate }}">
                  <mat-icon svgIcon="close-circle-outline"></mat-icon>
                </button>
                <button mat-icon-button class="text-white" (click)="editMissingCopyDoc()" matTooltip="{{ 'Edit' | translate }}">
                  <mat-icon svgIcon="circle-edit-outline"></mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="p-grid" [formGroup]="testCorrectionForm">
            <div class="p-col-12 padding-none ckeditor-small ckeditor-white-background yellow-border">
              <ckeditor
                [config]="{
                  toolbar: [
                    'bold',
                    'italic',
                    'underline',
                    'strikethrough',
                    
                    '|',
                    'alignment',
                    '|',
                    'numberedList',
                    'bulletedList'
                  ],
                  link: {
                    addTargetToExternalLinks: true
                  }
                }"
                [disabled]="disabledCke"
                [editor]="Editor"
                (ready)="onReady($event)"
                formControlName="reason_for_missing_copy"
              >
              </ckeditor>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Final Mark Section -->
      <div
        class="p-grid"
        *ngIf="
          testData?.block_type !== 'competence' &&
          testData?.block_type !== 'soft_skill' &&
          testData?.correction_grid?.correction?.show_number_marks_column
        "
      >
        <div class="p-col-12 pad-y-xs justify-content-between background-black smaller-text">
          <span>{{ CurUser?.last_name | uppercase }} {{ CurUser?.first_name }} / {{ currentDate }}</span>
          <div>
            <!-- 
              How to read the conditions below:
                CC or C
                Memoire Oral
                Non Memoire Oral
                  Final Total (with or without coef)
                  Additional Total (if any)
             -->
            <!-- CC -->
            <ng-container *ngIf="testData?.type === 'free_continuous_control' || testData?.controlled_test">
              <strong>
                {{ 'TESTCORRECTIONS.FinalMark' | translate }}:
              </strong>
              <strong>
                {{ getCorrectionForm().get('additional_total').value ? getCorrectionForm().get('additional_total').value : (0 | number) }}
                / {{ testData?.correction_grid?.correction?.total_zone?.additional_max_score }}
              </strong>
            </ng-container>

            <!-- Memoire Oral -->
            <ng-container *ngIf="testData?.type === 'memoire_oral_non_jury' || testData?.type === 'memoire_oral'">
              <strong>
                {{ 'PARAMETERS-RNCP.TEST.SCORE_BY_JURY' | translate }}:
              </strong>
              <strong>
                {{
                  getCorrectionForm().get('total_jury_avg_rating').value
                    ? getCorrectionForm().get('total_jury_avg_rating').value
                    : (0 | number)
                }}
                / {{ testData?.correction_grid?.correction?.total_zone?.additional_max_score }}
              </strong>
            </ng-container>

            <!-- Non Memoire Oral -->
            <ng-container *ngIf="testData?.type !== 'memoire_oral_non_jury' && testData?.type !== 'memoire_oral' && testData?.type !== 'free_continuous_control' && !testData?.controlled_test">
              <strong *ngIf="!testData?.correction_grid?.correction?.display_section_coefficient">
                <!-- Display FETOT Without Coefficient -->
                {{ 'TESTCORRECTIONS.FinalMark' | translate }}:
                {{ getCorrectionForm().get('total').value ? getCorrectionForm().get('total').value : 0 }} / {{ maximumFinalMark }} -
              </strong>
              <strong
                *ngIf="testData?.correction_grid?.correction?.display_section_coefficient"
                [matTooltip]="getFinalMarkFormula(getCorrectionForm().get('sections').value, getCorrectionForm().get('penalties').value, getCorrectionForm().get('bonuses').value) | async"
                [matTooltipPosition]="'above'">
                <!-- Display FETOT With Coefficient -->
                {{ 'TESTCORRECTIONS.FinalMark' | translate }}:
                {{ getFinalMarkText(getCorrectionForm().get('sections').value, getCorrectionForm().get('penalties').value, getCorrectionForm().get('bonuses').value) | async }}
              </strong>

              <!-- Displayed if Additionnal Total Displayed -->
              <strong
                style="margin-left: 1rem;"
                *ngIf="testData?.correction_grid?.correction?.total_zone?.display_additional_total"
                [matTooltip]="getAdditionalFinalMarkFormula(getCorrectionForm().get('sections').value, getCorrectionForm().get('penalties').value, getCorrectionForm().get('bonuses').value) | async"
                [matTooltipPosition]="'above'">
                {{ 'TEST.SHOWFINALEXTRATOTAL' | translate }}:
                {{ getCorrectionForm().get('additional_total').value ? getCorrectionForm().get('additional_total').value : (0 | number: '1.' + additionalDecimalDigits + '-' + additionalDecimalDigits) }}
                / {{ testData?.correction_grid?.correction?.total_zone?.additional_max_score }}
              </strong>
            </ng-container>

          </div>
        </div>
      </div>

      <!-- Element of Proof Section (https://zettabyte-goa.atlassian.net/browse/AV-3778) -->
      <div
        class="p-grid"
        *ngIf="
          (testData?.block_type === 'competence' && testData?.type === 'academic_auto_evaluation') ||
          (testData?.block_type === 'soft_skill' && testData?.type === 'soft_skill_auto_evaluation')
        "
      >
        <div class="p-col-12 pad-y-xs justify-content-between background-black smaller-text">
          <span class="text-left">{{ 'element_of_proof_label' | translate }}</span>
          <div class="text-right vertical-center">
            <a
              *ngIf="elementOfProofDocument"
              [href]="serverimgPath + elementOfProofDocument?.s3_file_name"
              target="_blank"
              class="element-of-proof-doc-wrapper"
            >
              <mat-icon
                class="element-of-proof-icon clickable"
                matTooltip="{{ elementOfProofDocument?.s3_file_name }}"
                matTooltipPosition="above"
              >
                insert_drive_file
              </mat-icon>
            </a>
            <input #elementOfProofUpload type="file" class="hidden" (change)="addFile($event, 'elementOfProof')" />
            <button mat-raised-button color="accent" (click)="openUploadElementOfProof()">
              <mat-icon class="mat-icon-default">file_upload</mat-icon> {{ 'element_of_proof' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Final Comment Section -->
      <ms-final-comment *ngIf="testData?.correction_grid?.correction?.show_final_comment" [testCorrectionForm]="testCorrectionForm">
      </ms-final-comment>

      <!-- Footer Section -->
      <ms-footer-section
        *ngIf="testData?.correction_grid?.footer?.fields?.length"
        [testData]="testData"
        [testCorrectionForm]="testCorrectionForm"
        [loadReady]="loadReady"
        [selectedGroupData]="selectedGroupData"
        [studentSelectDetail]="studentSelectDetail"
        [getDataForm]="getDataForm"
        (updateFirstForm)="updateFirstForm($event)"
      >
      </ms-footer-section>
    </fieldset>

    <!-- List -->
    <div
      class="p-col-fixed p-col-nogutter mrgn-l-sm"
      [ngClass]="{ hide: testData?.correction_type === 'student' && !isTaskValidateTest && !isAcadir && !isADMTC }"
    >
      <ms-student-list
        *ngIf="filteredStudentList && !testData?.group_test"
        (studentSelected)="studentSelected($event)"
        (dataUpdated)="dataUpdated($event)"
        (updateJustification)="updateJustification($event)"
        (updateMultipleDateFormArray)="updateMultipleDateFormArray($event)"
        (refreshMultipleDateNotationGrid)="refreshMultipleDateNotationGrid($event)"
        (refreshJuryNotationGrid)="refreshJuryNotationGrid($event)"
        [testCorrectionForm]="testCorrectionForm"
        [firstForm]="firstForm"
        [testData]="testData"
        [taskData]="taskData"
        [titleData]="titleData"
        [filteredStudentList]="filteredStudentList"
        [isTaskValidateTest]="isTaskValidateTest"
        (missingCopyDocument)="setMissingCopyDocument($event)"
        (elementOfProofDocument)="setElementOfProofDocument($event)"
        [selectedStudenId]="testCorrectionForm?.get('student')?.value"
        (swalSubmitMarksEntryUnsaved)="swalSubmitMarksEntryUnsaved($event)"
        [isCannotBeEdited]="isCannotBeEdited"
      >
      </ms-student-list>
      <ms-group-list
        *ngIf="testData?.group_test && filteredGroupList && filteredStudentList"
        (dataUpdated)="dataUpdated($event)"
        [testCorrectionForm]="testCorrectionForm"
        [testData]="testData"
        [taskData]="taskData"
        [titleData]="titleData"
        [groupSelect]="groupSelect"
        [filteredGroupList]="filteredGroupList"
        [filteredStudentList]="filteredStudentList"
        [groupTestCorrectionId]="groupTestCorrectionId"
        (studentSelected)="studentSelected($event)"
        (groupSelected)="groupSelected($event)"
        (updateJustification)="updateJustification($event)"
        [groupList]="groupList"
        [dataFilledStudentOfAllGroupList]="dataFilledStudentOfAllGroupList"
        [isTaskValidateTest]="isTaskValidateTest"
        (missingCopyDocument)="setMissingCopyDocument($event)"
        (elementOfProofDocument)="setElementOfProofDocument($event)"
        (refreshMultipleDateNotationGrid)="refreshMultipleDateNotationGrid($event)"
        [firstForm]="firstForm"
        (swalSubmitMarksEntryUnsaved)="swalSubmitMarksEntryUnsaved($event)"
      ></ms-group-list>
    </div>
  </div>

  <div class="p-grid p-col-fixed">
    <!-- Bottom Buttons -->
    <div class="p-col-12 p-grid p-col-nogutter p-align-baseline background-black">
      <div class="p-col">
        <button mat-raised-button color="warn" (click)="routeToDashBoard()">{{ 'Cancel' | translate }}</button>
        <!-- save button for individual student mark entry -->
        <button
          mat-raised-button
          color="accent"
          *ngIf="!testData?.group_test && !isModificationPeriodMoreThan14Days && (!isTestValidated || isADMTC)"
          (click)="saveTestCorrection()"
          [disabled]="isCannotBeEdited || disabledCke"
        >
          <mat-icon class="mat-icon-default">save</mat-icon> {{ 'TESTCORRECTIONS.SUBMIT.SAVEASDRAFT' | translate }}
        </button>
        <!-- save button for student in group test mark entry -->
        <button
          mat-raised-button
          color="accent"
          *ngIf="isStudent && testData?.group_test && !isModificationPeriodMoreThan14Days && (!isTestValidated || isADMTC)"
          (click)="saveTestCorrection()"
          [disabled]="isCannotBeEdited || disabledCke"
        >
          <mat-icon class="mat-icon-default">save</mat-icon> {{ 'TESTCORRECTIONS.SUBMIT.SAVEASDRAFT' | translate }}
        </button>
        <!-- save button for group in group test mark entry -->
        <button
          mat-raised-button
          color="accent"
          *ngIf="isGroup && testData?.group_test && !isModificationPeriodMoreThan14Days && (!isTestValidated || isADMTC)"
          (click)="validateBeforeSaveGroupTest()"
          [disabled]="isCannotBeEdited || disabledCke"
        >
          <mat-icon class="mat-icon-default">save</mat-icon> {{ 'TESTCORRECTIONS.SUBMIT.SAVEASDRAFT' | translate }}
        </button>
      </div>
      <div class="p-col-fixed">
        <!-- submit button for individual student mark entry -->
        <ng-container
          *ngIf="
            (testData?.type === 'academic_pro_evaluation' || testData?.type === 'soft_skill_pro_evaluation') &&
            (!isTestValidated || isADMTC)
          "
        >
          <button mat-raised-button color="accent" (click)="submitTestCorrection()">
            <mat-icon class="mat-icon-default">send</mat-icon> {{ 'Submit the Correction' | translate }}
          </button>
        </ng-container>
        <ng-container *ngIf="testData?.type !== 'academic_pro_evaluation' && testData?.type !== 'soft_skill_pro_evaluation'">
          <button
            mat-raised-button
            *ngIf="isTaskMarkEntry && !testData?.group_test && !isModificationPeriodMoreThan14Days && (!isTestValidated || isADMTC)"
            color="accent"
            (click)="submitTestCorrection()"
            [disabled]="isCannotBeEdited"
          >
            <mat-icon class="mat-icon-default">send</mat-icon>
            {{
              (testData?.type === 'preparation_center_eval_soft_skill' ? 'TESTCORRECTIONS.SUBMIT.VALIDATE' : 'Submit the Correction')
                | translate
            }}
          </button>
        </ng-container>
        <!-- submit button for group test mark entry -->
        <button
          mat-raised-button
          *ngIf="isTaskMarkEntry && testData?.group_test && !isModificationPeriodMoreThan14Days && (!isTestValidated || isADMTC)"
          color="accent"
          (click)="submitTestCorrection()"
          [disabled]="isCannotBeEdited"
        >
          <mat-icon class="mat-icon-default">send</mat-icon> {{ 'Submit the Correction' | translate }}
        </button>
        <!-- validate button
        <button
          mat-raised-button
          color="accent"
          (click)="showPerStudentPDFDialog()"
        >
          <mat-icon class="mat-icon-default">send</mat-icon> {{ 'Show PDF' | translate }}
        </button> -->
        <button
          mat-raised-button
          *ngIf="isTaskValidateTest && !isModificationPeriodMoreThan14Days && (!isTestValidated || isADMTC)"
          color="accent"
          (click)="saveBeforeValidateTestCorrection()"
        >
          <mat-icon class="mat-icon-default">send</mat-icon> {{ 'TESTCORRECTIONS.SUBMIT.VALIDATE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ms-pdf-test-detail
  style="display: none;"
  [testData]="testData"
  [titleData]="titleData"
  [schoolData]="schoolData"
  *ngIf="titleData?._id && titleData?.short_name && testData?.name"
  #pdfTestDetail
></ms-pdf-test-detail>
<ms-pdf-personalized-group
  style="display: none;"
  [testData]="testData"
  [titleData]="titleData"
  [schoolId]="schoolId"
  *ngIf="titleData?._id && titleData?.short_name && testData?.name"
  #pdfPersonalizedGroupComponent
></ms-pdf-personalized-group>
<ms-pdf-personalized-student
  style="display: none;"
  [testData]="testData"
  [titleData]="titleData"
  [schoolId]="schoolId"
  *ngIf="titleData?._id && titleData?.short_name && testData?.name"
  #pdfPersonalizedStudentComponent
></ms-pdf-personalized-student>

<div id="pdfdoc" style="display: none" *ngIf="testData">
  <div class="orientation-portrait" style="font-size: 11px !important">
    <div class="pa-1" style="height: 400px">
      <div class="doc-rncp-title" style="text-align: center; font-size: 16px; font-weight: bold">
        {{ 'TEST.EVALUATIONGRID' | translate }}
      </div>
      <div class="doc-rncp-title" style="font-size: 14px; font-weight: bold; text-align: center; padding: 0px 15px 0px 15px">
        {{ schoolData?.short_name }} - {{ titleData?.short_name }} - {{ testData?.name }}
      </div>
      <div style="font-size: 14px; font-weight: bold; text-align: center; padding: 0px 15px 3px 15px">
        {{ 'TESTCORRECTIONS.Results' | translate }}
      </div>
      <div style="padding: 0px 30px 5px 30px; margin-left: 15%; height: 400px" *ngIf="!testData.group_test">
        <ng-container *ngIf="testData?.block_type !== 'competence' && testData?.block_type !== 'soft_skill'">
          <div class="p-grid" style="background-color: rgb(163, 163, 163)">
            <div
              class="p-col-7 font-weight-bold"
              style="
                border: 1px solid black;
                display: inline-block;
                width: 250px;
                -webkit-print-color-adjust: exact;
                background-color: rgb(163, 163, 163);
                padding: 1px;
              "
            >
              &nbsp;&nbsp;{{ 'STUDENT_RESULT_TABLE.STUD_NAME' | translate }}
            </div>
            <div
              class="p-col-5 text-center font-weight-bold"
              style="
                border: 1px solid black;
                display: inline-block;
                width: 200px;
                -webkit-print-color-adjust: exact;
                background-color: rgb(163, 163, 163);
                padding: 1px;
              "
            >
              {{ 'STUDENT_RESULT_TABLE.SCORE' | translate }} / {{ getAdditionalScore() }}
            </div>
          </div>
          <ng-container *ngFor="let element of filteredStudentList; index as i" class="trPrintEventODD">
            <div class="p-grid">
              <div class="p-col-7 no-padding" style="border: 1px solid black; display: inline-block; width: 250px; padding: 1px">
                &nbsp;&nbsp; {{ element?.last_name | uppercase }} {{ element?.first_name }}
              </div>
              <div
                class="p-col-5 text-center no-padding"
                *ngIf="!element?.missing_copy"
                style="border: 1px solid black; display: inline-block; width: 200px; padding: 1px"
              >
                &nbsp;&nbsp; {{ element?.score ? element?.score : 0 }}
              </div>
              <div
                class="p-col-5 text-center no-padding"
                *ngIf="element?.missing_copy"
                style="border: 1px solid black; display: inline-block; width: 200px; padding: 1px"
              >
                &nbsp;&nbsp; {{ 'Missing Copy' | translate }}
              </div>
            </div>

            <!-- <div *ngIf="i === 37" style="page-break-before: always; position: relative; float:none; display: inline-block"></div> -->
            <!-- <div *ngIf="i === 20"style="page-break-after: always; position: relative"></div> -->
          </ng-container>
        </ng-container>
        <ng-container *ngIf="testData?.block_type === 'competence' || testData?.block_type === 'soft_skill'">
          <div class="p-grid" style="background-color: rgb(163, 163, 163)">
            <div
              class="p-col-12 font-weight-bold"
              style="
                border: 1px solid black;
                display: inline-block;
                width: 450px;
                padding: 1px;
                -webkit-print-color-adjust: exact;
                background-color: rgb(163, 163, 163);
              "
            >
              &nbsp;&nbsp;{{ 'STUDENT_RESULT_TABLE.STUD_NAME' | translate }}
            </div>
          </div>
          <ng-container *ngFor="let element of filteredStudentList; index as i" class="trPrintEventODD">
            <div class="p-grid">
              <div class="p-col-12 no-padding" style="border: 1px solid black; display: inline-block; width: 450px; padding: 1px">
                &nbsp;&nbsp; {{ element?.last_name | uppercase }} {{ element?.first_name }}
              </div>
            </div>
            <!-- <div *ngIf="i === 37" style="page-break-before: always; position: relative; float:none; display: inline-block"></div> -->
            <!-- <div *ngIf="i === 20"style="page-break-after: always; position: relative"></div> -->
          </ng-container>
        </ng-container>
        <!-- <div class="doc-footer" style="text-align: center; font-size: 12px; width: 450px;  position: fixed;
        bottom: 0;"> -->
        <!-- <div class="doc-footer-text"> {{'ADMTC – '}} {{{schoolData?.short_name}} {{ ' – ' }} {{titleData?.short_name}} {{' – '}} {{dt | date:'d MMM y'}} </div> -->
        <!-- <div class="doc-footer-text">
            {{ 'ADMTC – ' }} {{ 'TEST.EVALUATIONGRID' | translate }} {{ ' ' }} {{ testData?.name }} {{ ' – ' }} {{ titleData?.short_name }}
          </div>
        </div> -->
      </div>
      <div style="padding: 30px; margin-left: 15%; height: 100%">
        <table width="80%" border="1" *ngIf="testData.group_test">
          <tbody>
            <ng-container *ngIf="testData?.block_type !== 'competence' && testData?.block_type !== 'soft_skill'">
              <tr style="background-color: gray">
                <td width="60%" class="font-weight-bold">&nbsp;&nbsp;{{ 'GROUP_RESULT_TABLE.GROUP_NAME' | translate }}</td>
                <td width="40%" class="text-center font-weight-bold">{{ 'STUDENT_RESULT_TABLE.SCORE' | translate }}</td>
              </tr>
              <tr *ngFor="let element of filteredGroupList; index as i" class="trPrintEventODD">
                <td width="60%" class="">&nbsp;&nbsp; {{ element?.name }}</td>
                <td width="40%" class="text-center" *ngIf="!element?.missing_copy">
                  &nbsp;&nbsp; {{ element?.score ? element?.score : 0 }}
                </td>
                <td width="40%" class="text-center" *ngIf="element?.missing_copy">&nbsp;&nbsp; {{ 'Missing Copy' | translate }}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="testData?.block_type === 'competence' || testData?.block_type === 'soft_skill'">
              <tr style="background-color: gray">
                <td width="100%" class="font-weight-bold">&nbsp;&nbsp;{{ 'GROUP_RESULT_TABLE.GROUP_NAME' | translate }}</td>
              </tr>
              <tr *ngFor="let element of filteredGroupList; index as i" class="trPrintEventODD">
                <td width="100%" class="">&nbsp;&nbsp; {{ element?.name }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="doc-footer" style="text-align: center; font-size: 12px; width: 100%; position: fixed; bottom: 0">
      <!-- <div class="doc-footer-text"> {{'ADMTC – '}} {{{schoolData?.short_name}} {{ ' – ' }} {{titleData?.short_name}} {{' – '}} {{dt | date:'d MMM y'}} </div> -->
      <div class="doc-footer-text">
        {{ 'ADMTC – ' }} {{ 'TEST.EVALUATIONGRID' | translate }} {{ ' ' }} {{ testData?.name }} {{ ' – ' }} {{ titleData?.short_name }}
      </div>
    </div>
  </div>
</div>
