.mark-label {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

.mark-score {
  display: inline-block;
  width: 80px;
}
:host::ng-deep.invalid-rating .mat-form-field-underline{
  background-color: red !important;
}