<ng-container [formGroup]="testCorrectionForm">
  <div class="p-grid background-primary" formGroupName="correction_grid">
    <div class="p-col-12 justify-content-between" formGroupName="correction">
      <p class="margin-none">{{ testData?.name | uppercase }}</p>
      <div class="inline-block">
        <span class="mark-label">{{ 'mark' | translate }} : </span>
        <mat-form-field color="accent" class="mark-score" [ngClass]="{'invalid-rating':getCorrectionForm()?.get('additional_total')?.hasError('max') || getCorrectionForm()?.get('additional_total')?.hasError('min')}">
          <input
            matInput
            type="number"
            onwheel="return false"
            min="0"
            max="20"
            (focusout)="validateAdditionalTotal()"
            formControlName="additional_total"
            required
          />
          <span matSuffix> / 20 </span>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-container>
