.basic-height {
  height: 200px;
} 

.folder-tree-container {
  color: #1565c0;
}

.path-wrapper {
  margin-bottom: 1rem;
}

.path-link {
  font-size: 12px;
}

.path-link:hover {
  cursor: pointer;
}

.path-link:last-child {
  color: #1565c0;
}

.text-black {
  color: black;
}