<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandles>
  <div class="p-grid">
    <div class="w-30 no-padding">
      <mat-icon mat-icon-button style="margin-top: 3px;">error</mat-icon>
    </div>
    <div class="p-col no-padding">
      <h3 class="dialogTitle">{{ 'Please enter the name of the corrector and tick the box of signature' | translate }}
      </h3>
    </div>
    <div class="no-padding w-65 p-col-1">
      <button mat-icon-button class="close-icon" tabindex="-1" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-dialog-content dialog-body" style="overflow: hidden !important">
  <div [formGroup]="form">
    <div class="p-col-12 no-padding">
      <mat-form-field>
        <input 
          matInput 
          formControlName="corrector_name"
          placeholder="{{ 'TEST.FIELDTYPES.Corrector Name' | translate }}"
          [matAutocomplete]="autoCorrector"
          (focusout)="checkCorrector()"
        />
        <mat-autocomplete #autoCorrector="matAutocomplete" panelWidth="'fit'">
          <mat-option 
            *ngFor="let corrector of filteredCorrector | async" 
            (click)="setUserCorrector(corrector)"
            [value]="corrector?.full_name"
          >
            {{ (corrector?.last_name | uppercase) + ' ' + corrector?.first_name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="
            form?.get('corrector_name')?.hasError('required') &&
            (form?.get('corrector_name')?.touched || form?.get('corrector_name')?.dirty)
          ">{{ 'This field is required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="p-col-12 no-padding">
      <mat-checkbox formControlName="signature">{{ 'TEST.FIELDTYPES.Signature' | translate }}</mat-checkbox>
      <mat-error style="font-size: 75%;"
        *ngIf="form?.get('signature')?.hasError('required') && (form?.get('signature')?.touched || form?.get('signature')?.dirty)">{{
        'This field is required' | translate }}
      </mat-error>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-button mat-raised-button color="warn" (click)="closeDialog()">{{ 'CANCEL' | translate }}</button>
  <button mat-button mat-raised-button color="primary" class="mr-0" (click)="submit()">
    {{ 'Submit' | translate }}
  </button>
</div>
<ng-container *ngIf="isWaitingForResponse">
  <div class="inner-loading-indicator-transparent-bg">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-container>